.event-details-card {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 20px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 20px auto;
}

.event-title {
  font-size: 2rem;
  color: var(--primary-red);
  margin-bottom: 10px;
}

.event-description {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 10px;
}

.event-date,
.event-location,
.event-organizer {
  font-size: 1rem;
  color: #666;
  margin-bottom: 10px;
}

.rsvp-button {
  background-color: var(--primary-red);
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.rsvp-button:hover {
  background-color: var(--secondary-red);
}

.error-message {
  color: red;
  font-size: 14px;
}

